/*Parte esquerda da tela*/
body{
    background-color: rgb(158, 170, 148);
}

#mainContent{
    margin-top: 25px;
}

#insertComment{
    resize:none;
}

#leftPane{
    margin-top: 16px;
    box-shadow: 2px 3px rgba(58, 58, 58, 0.171);
}

#cadCom{
    text-align: center;
    color: rgb(29, 39, 20);
}

#Register{
    float:right;
    width: 100%
}

/*Parte direita da tela*/

#postedVoices{
    margin-bottom: 15px;
    box-shadow: 2px 3px rgba(14, 37, 21, 0.171);
}

#comCad{
    text-align: center;
    color: rgb(29, 39, 20);
}

@media (max-width: 992px) {
    #rightPane{
        margin-top: 20px;
    }
}

#voiceCardContent {
    text-align: justify;
}

#Listener{
    margin-top: 40px;   
    margin-bottom: -10px; 
    float:right;
}